.count {
    position: relative;
    align-items: center;
    display: grid;
}

.number {
    grid-area: 1 / 1 / 1 / 1;
    text-align: center;
}

.playPauseIcon {
    grid-area: 1 / 1 / 1 / 1;
    display: flex;
}

.playPauseIcon svg {
    width: var(--track-icon-size);
    height: var(--track-icon-size);
    fill: var(--color-white);
    opacity: 0;
    visibility: hidden;
}

.gif {
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
}
