.tracksHeader {
    display: flex;
    align-items: center;
    margin: 4rem 0 2rem 0;
    padding: 0 2rem 1rem 2rem;
    border-bottom: 0.1rem solid hsla(0, 0%, 100%, 0.1);
}

.tracksHeader li {
    display: flex;
    align-items: center;
}

.tracksNumbers {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    justify-content: center;
}

.tracksTitles,
.tracksReleases,
.tracksPlays,
.tracksDurations {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-book);
    text-transform: uppercase;
}

.tracksTitles {
    flex: var(--track-title-flex);
    padding-left: 2rem;
}

.tracksReleases {
    width: var(--track-release-width);
    justify-content: center;
}

.tracksPlays {
    width: var(--track-play-width);
    justify-content: center;
}

.tracksDurations {
    width: var(--track-duration-width);
    justify-content: flex-end;
    padding-right: calc(var(--track-icon-size) + 1.5rem);

    /* Like container width */
    margin-left: var(--track-liked-width);
}

.tracksDurations svg {
    fill: var(--color-text-base);
    width: var(--track-icon-size);
    height: var(--track-icon-size);
}