.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 2rem;
    border-radius: var(--border-radius-small);
}

.container:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
}

.container:hover :global(.artist-name) {
    color: var(--color-white);
}

.container :global(.track-title) {
    color: var(--color-white);
    font-size: var(--font-size-medium);
}

.container:hover :global(.track-like),
.container:hover :global(.track-menu) {
    opacity: 1;
    visibility: visible;
}

.container:hover :global(.number) {
    opacity: 0;
    visibility: hidden;
}

.container:hover :global(.logo-play) svg {
    opacity: 1;
    visibility: visible;
}

/* Playing */
.container.playing :global(.track-title) {
    color: var(--color-green);
}

.container.playing :global(.number) {
    opacity: 0;
    visibility: hidden;
}

.container.playing :global(.logo-play) {
    opacity: 1;
    visibility: visible;
}

.container.playing :global(.logo-play) svg {
    opacity: 0;
    visibility: hidden;
}

.container.playing :global(.track-gif) {
    opacity: 1;
    visibility: visible;
}

.container.playing:hover :global(.track-gif) {
    opacity: 0;
    visibility: hidden;
}

.container.playing:hover :global(.logo-play) svg {
    opacity: 1;
    visibility: visible;
}
