.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--track-liked-width);
}

.like {
    display: flex;
    opacity: 0;
    visibility: hidden;
}

.like svg {
    width: var(--track-icon-size);
    height: var(--track-icon-size);
    fill: var(--color-text-base);
}

.like:hover svg {
    fill: var(--color-white);
}

.like.active {
    opacity: 1;
    visibility: visible;
}

.like.active svg {
    fill: var(--color-green);
}
