.actions {
    display: flex;
    align-items: center;
}

.menu {
    width: 3.2rem;
    height: 3.2rem;
    fill: var(--color-text-base);
    margin-left: 2rem;

    /* HIDE FEATURE FOR LATER */
    opacity: 0;
    visibility: hiddens;
}

.menu:hover {
    fill: var(--color-white);
}

.subscribe {
    color: var(--color-white);
    padding: 0.8rem 1.5rem;
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    margin-left: 3rem;
    border-radius: var(--border-radius-small);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;

    /* HIDE FEATURE FOR LATER */
    opacity: 0;
    visibility: hiddens;
}

.subscribe:hover {
    border: 1px solid rgba(255, 255, 255, 0.8);
}
