.duration {
    width: var(--track-duration-width);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu {
    width: var(--track-icon-size);
    height: var(--track-icon-size);
    opacity: 0;
    visibility: hidden;
}

.menu {
    fill: var(--color-text-base);
}

.menu:hover {
    fill: var(--color-white);
}

.length {
    padding-right: 1.5rem;
    padding-left: 3rem;
}