.btn {
    background-color: var(--color-green);
    border-radius: var(--border-radius-round);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background-color: var(--color-green-hover);
    transform: scale(1.05);
}

.btn:active {
    transform: scale(1);
    background-color: var(--color-green-active);
}

.big {
    width: 5.6rem;
    height: 5.6rem;
}

.medium {
    width: 4.8rem;
    height: 4.8rem;
}

.medium svg {
    width: 50%;
}

.btn svg::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.btn svg {
    width: 2rem;
    height: 2rem;
}