* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-text-base);
  font-size: var(--font-size-base);
  font-family: Circular, Courier, monospace;
}

h1, h2, h3, h4, h5 {
  color: var(--color-white);
  font-weight: var(--font-weight-black);
  letter-spacing: var(--letter-spacing-base);
}

h1 { font-size: var(--font-size-h1); }

h2 { font-size: var(--font-size-h2); }

h3 { font-size: var(--font-size-h3); }

h4 { font-size: var(--font-size-h4); }

h5 { 
  font-size: var(--font-size-h5);
  letter-spacing: var(--letter-spacing-small);
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--color-base);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3); 
  border-radius: 10rem;
  transition: background-color 0.4s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4); 
}