/* add local() */

@font-face {
    font-family: Circular;
    font-style: normal;
    font-weight: 900;
    src: local('Circular Std Black'),
         url('./../assets/fonts/circular/CircularStd-Black.ttf') format('truetype'),
         url('./../assets/fonts/circular/CircularStd-Black.woff') format('woff');
}

@font-face {
    font-family: Circular;
    font-style: italic;
    font-weight: 900;
    src: local('Circular Std Black Italic'),
         url('./../assets/fonts/circular/CircularStd-BlackItalic.ttf') format('truetype'),
         url('./../assets/fonts/circular/CircularStd-BlackItalic.woff') format('woff');
}

@font-face {
    font-family: Circular;
    font-style: normal;
    font-weight: 700;
    src: local('Circular Std Bold'),
         url('./../assets/fonts/circular/CircularStd-Bold.ttf') format('truetype'),
         url('./../assets/fonts/circular/CircularStd-Bold.woff') format('woff');
}

@font-face {
    font-family: Circular;
    font-style: italic;
    font-weight: 700;
    src: local('Circular Std Bold Italic'),
         url('./../assets/fonts/circular/CircularStd-BoldItalic.ttf') format('truetype'),
         url('./../assets/fonts/circular/CircularStd-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: Circular;
    font-style: normal;
    font-weight: 500;
    src: local('Circular Std Medium'),
         url('./../assets/fonts/circular/CircularStd-Medium.ttf') format('truetype'),
         url('./../assets/fonts/circular/CircularStd-Medium.woff') format('woff');
}

@font-face {
    font-family: Circular;
    font-style: italic;
    font-weight: 500;
    src: local('Circular Std Medium Italic'),
         url('./../assets/fonts/circular/CircularStd-MediumItalic.ttf') format('truetype'),
         url('./../assets/fonts/circular/CircularStd-MediumItalic.woff') format('woff');
}

@font-face {
    font-family: Circular;
    font-style: normal;
    font-weight: 400;
    src: local('Circular Std Book'),
         url('./../assets/fonts/circular/CircularStd-Book.ttf') format('truetype'),
         url('./../assets/fonts/circular/CircularStd-Book.woff') format('woff');
}

@font-face {
    font-family: Circular;
    font-style: italic;
    font-weight: 400;
    src: local('Circular Std Book Italic'),
         url('./../assets/fonts/circular/CircularStd-BookItalic.ttf') format('truetype'),
         url('./../assets/fonts/circular/CircularStd-BookItalic.woff') format('woff');
}