:root {
    /* COLORS */
    --color-base: #121212;
    --color-text-base: #B3B3B3;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-green: #1ED760;
    --color-green-hover: #3ceb7c;
    --color-green-active: #169c46;
    --color-card-home: #181818;
    --color-card-home-hover: #282828;
    --color-infos: #0D72EA;

    /* FONT-SIZE */
    --font-size-small: 1.2rem;
    --font-size-base: 1.4rem;
    --font-size-medium: 1.6rem;

    --font-size-h1: 9rem;
    --font-size-h2: 8rem;
    --font-size-h3: 4.5rem;
    --font-size-h4: 3.5rem;
    --font-size-h5: 2.5rem;

    /* FONT-WEIGHT */
    --font-weight-book: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-black: 900;

    /* BORDER-RADIUS */
    --border-radius-small: 0.5rem;
    --border-radius-medium: 1rem;
    --border-radius-round: 100%;

    /* SPACINGS */
    --card-spacing: 2.5rem;

    /* LETTER-SPACING */
    --letter-spacing-small: -0.1rem;
    --letter-spacing-base: -0.2rem;

    /* UTILS */
    --card-number-home: 6;

    /* TRACKS */
    --track-number-width: 2.5%;
    --track-title-flex: 1;
    --track-release-width: 25%;
    --track-play-width: 20%;
    --track-liked-width: 5%;
    --track-duration-width: 7.5%; 
    --track-icon-size: 1.6rem;
    --track-image-size: 4rem;

    /* AUDIO PLAYER */
    --audio-player-track-cover-size: 5.6rem;
    --audio-player-icon-size: 1.6rem;
    --audio-player-play-button-size: 3.2rem;
}