.container {
    padding: 3rem;
    position: relative;
}

/*
    In case there's an overlay, position elements to prevent 
    them from being behind the overlay
*/
.container > * {
    position: inherit;
}