.techContainer {
    display: flex;
}

.tech {
    width: 100%;
    border-radius: var(--border-radius-medium);
    cursor: pointer;
    padding: 1.5rem;
    position: relative;
    overflow: hidden;
}

.title {
    color: var(--color-white);
    font-weight: var(--font-weight-black);
}

.techLogoContainer {
    background-color: var(--color-white);
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(25deg);
    position: absolute;
    box-shadow: 0 0.2rem 4rem 0 rgba(0, 0, 0, 0.2);
}

.techLogoContainer::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.techLogo {
    width: calc(100% * 2/3);
}

.techLogo::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

/* CARD SMALL */
.cardSmall::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.cardSmall .techLogoContainer {
    width: 55%;
    bottom: -1.2rem;
    right: -1.2rem;
}

.cardSmall .title {
    font-size: var(--font-size-h5);
    letter-spacing: var(--letter-spacing-small);
}

/* CARD BIG */
.cardBig {
    width: calc((100% - var(--card-spacing) * 2) / 3);
    height: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
    border-radius: var(--border-radius-medium);
}

.cardBig:nth-child(n + 2) {
    margin-left: var(--card-spacing);
}

.cardBig .techLogoContainer {
    width: 35%;
    bottom: -1.5rem;
    right: -1.5rem;
}

.cardBig .title {
    font-size: var(--font-size-h4);
    letter-spacing: var(--letter-spacing-base);
}