.item {
    background-color: var(--color-card-home);
    cursor: pointer;
    border-radius: var(--border-radius-small);
    display: flex;
    overflow: hidden;
    transition: background-color 0.4s;
    padding: 1.5rem;
    flex-direction: column;
    position: relative;
}

.item:hover {
    background-color: var(--color-card-home-hover);
}

.item a {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
}

.item .imgContainer {
    display: flex;
    position: relative;
}

.item img::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.item img {
    width: 100%;
    border-radius: var(--border-radius-small);
}

.item .title {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    color: var(--color-white);
    padding-top: 2rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item .description {
    padding-top: 1.5rem;
    line-height: calc(var(--font-size-base) + 1rem);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item button {
    position: absolute;
    bottom: 0rem;
    opacity: 0;
    visibility: hidden;
    right: 1rem;
    box-shadow: 0 0.8rem 0.8rem 0 rgba(0, 0, 0, 0.3);
    transition: bottom 0.3s, opacity 0.3s, visibility 0.3s;
    z-index: 20;
}

.item:hover button {
    bottom: 1rem;
    opacity: 1;
    visibility: visible;
}

.item.playing button {
    bottom: 1rem;
    opacity: 1;
    visibility: visible;
}
