.homeSection {
    display: flex;
    flex-direction: column;
}

.homeSection:nth-child(n + 2) {
    margin-top: 6rem;
}

.listItems {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--card-spacing);
}
