.popular {
    position: relative;
}

.popularListContainer {
    height: 32vh;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    margin-top: 3rem;
    -ms-overflow-style: none; /* Edge */
    scrollbar-width: none; /* Firefox */
}

.popularListContainer::-webkit-scrollbar {
    display: none;
}

.popularList {
    display: flex;
    align-items: center;
    height: 100%;
}

.scrollBtn {
    width: 4.8rem;
    height: 4.8rem;
    background-color: var(--color-white);
    box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius-round);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0.4s;
}

.scrollBtn.active {
    opacity: 1;
    visibility: visible;
}

.scrollBtn svg {
    width: 2.4rem;
    height: 2.4rem;
    fill: var(--color-black);
}

.leftBtn {
    top: 50%;
    transform: translate(-50%, -50%);
}

.rightBtn {
    right: 0;
    bottom: 50%;
    transform: translate(50%, 50%);
}
