/* BASE LAYOUT */
.layout {
    padding: 3rem;
}

/* PAGE ARTIST */
.popular {
    padding-top: 3rem;
}

.popular h5 {
    padding-bottom: 3rem;
}

.about {
    margin-top: 6rem;
}

.about :global(.content) {
    margin-top: 3rem;
    width: 60%;
    height: 50rem;
    transition: transform 0.4s;
    border-radius: var(--border-radius-medium);
    overflow: hidden;
    position: relative;
    display: flex;
}

.about :global(.content):hover {
    transform: scale(1.01);
}

.about :global(.content)::after {
    display: block;
    content: '';
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.about img {
    width: 100%;
    object-fit: cover;
}

.about :global(.text) {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--color-white);
    font-size: var(--font-size-medium);
}

.about :global(.title) {
    font-weight: var(--font-weight-bold);
}

.about :global(.description) {
    margin-top: 2rem;
    line-height: 2.2rem;
}

/* PAGE NOT FOUND */
.notFound {
    background-color: var(--color-base);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.notFound h3 {
    margin-top: 6rem;
}

.notFound p {
    margin-top: 2rem;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    color: var(--color-white);
}

.notFound a {
    margin-top: 6rem;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    padding: 1.5rem 3.5rem;
    border-radius: 500px;
    background-color: var(--color-white);
    color: var(--color-black);
    cursor: pointer;
}

.notFound a:hover {
    transform: scale(1.05);
}

/* PAGE TECH */
.titleTech {
    padding: 3rem 0;
}

/* PAGE TRACK */
.cardArtist {
    display: flex;
    align-items: center;
    font-weight: var(--font-weight-black);
    padding: 1rem 1.5rem;
    border-radius: var(--border-radius-small);
    color: var(--color-white);
    margin: 3rem 0;
}

.cardArtist:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
}

.cardArtist:hover .artistInfos span:last-child {
    text-decoration: underline;
}

.artistPhoto {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: var(--border-radius-round);
}

.artistInfos {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.artistInfos span:first-child {
    text-transform: uppercase;
    font-size: var(--font-size-small);
}

.artistInfos span:last-child {
    margin-top: 1rem;
}

/* TITRES POPULAIRES */
.popularSingles {
    padding-top: 3rem;
}

.popularArtist {
    margin: 1rem 0 3rem 0;
}

.singleCover {
    width: var(--track-image-size);
    height: var(--track-image-size);
    object-fit: cover;
    margin-left: 2rem;
}

/* SAME ALBUM */
.fromTheAlbum {
    margin-top: 6rem;
}

.fromAlbumHeader {
    display: flex;
    align-items: center;
    border-top-left-radius: var(--border-radius-medium);
    border-top-right-radius: var(--border-radius-medium);
    background-color: hsla(0, 0%, 100%, 0.1);
    overflow: hidden;
    margin-bottom: 0.1rem;
}

.fromAlbumHeader:hover {
    background-color: hsla(0, 0%, 100%, 0.3);
}

.fromAlbumHeader:hover :global(.name) {
    text-decoration: underline;
}

.fromAlbumHeader img {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
}

.fromAlbumDetails {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    color: var(--color-white);
}

.fromAlbumDetails :global(.description) {
    font-size: var(--font-size-small);
}

.fromAlbumDetails :global(.name) {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-black);
    padding-top: 1rem;
}