.modal {
    --modal-width: 33rem;
    --modal-triangle-size: 1rem;

    background-color: var(--color-infos);
    padding: 2rem;
    color: var(--color-white);
    position: absolute;
    width: var(--modal-width);
    z-index: 1000;
    right: calc(var(--modal-width) * -1 - 3rem);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: initial;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s, right 0.2s;
}

.modal::before {
    content: '';
    position: absolute;
    top: var(--modal-triangle-size);
    left: calc(var(--modal-triangle-size) / 2 * -1);

    /* Triangle */
    border-top: var(--modal-triangle-size) solid transparent;
    border-bottom: var(--modal-triangle-size) solid transparent; 
    border-right: var(--modal-triangle-size) solid var(--color-infos);
}

.modal.active {
    opacity: 1;
    visibility: visible;
    right: calc(var(--modal-width) * -1 - 2rem);
}

.modalTitle {
    font-size: 1.8rem;
    font-weight: var(--font-weight-bold);
}

.text {
    margin-top: 2rem;
    text-align: left;
    line-height: 2rem;
}

.btn {
    margin-top: 2rem;
    font-size: var(--font-size-medium);
    color: var(--color-black);
    border-radius: 10rem;
    background-color: var(--color-white);
    align-self: flex-end;
    padding: 1rem 1.5rem;
    font-weight: var(--font-weight-medium);
    cursor: initial;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.btn:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.95);
}
