.actions {
    display: flex;
    align-items: center;
}

.like svg, .menu {
    width: 3.2rem;
    height: 3.2rem;
    fill: var(--color-text-base);
}

.like:hover svg, 
.menu:hover {
    fill: var(--color-white);
}

.like {
    margin-left: 3rem;
    margin-right: 2rem;
}

.like.active svg {
    fill: var(--color-green);
}

.menu {
    opacity: 0;
    visibility: hidden;
}