.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a:hover {
    text-decoration: underline;
}

.header a:first-child {
    text-decoration-color: var(--color-white);
}

.seeAll {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
} 