.footerLinks {
    display: flex;
    flex-direction: column;
}

.footerLinks a {
    color: var(--color-text-base);
    font-size: var(--font-size-small);
    padding: 0.5rem;
}

.footerLinks a:hover {
    text-decoration: underline;
}
