.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}


/* ################################################ */
/* ################################################ */
/* ################################################ */


.commonLinks {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.commonLinks a {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.commonLinks a:active {
    transform: scale(0.98);
}

.commonLinks a:hover svg,
.commonLinks a.active svg {
    fill: var(--color-white);
}

.commonLinks a:hover span,
.commonLinks a.active span {
    color: var(--color-white);
}

.commonLinks a svg {
    fill: var(--color-text-base);
    transition: fill 0.4s;
    width: 2.4rem;
}

.commonLinks a span {
    margin-left: 2rem;
    transition: color 0.4s;
    font-weight: var(--font-weight-bold);
}


/* ################################################ */
/* ################################################ */
/* ################################################ */


.userLinks {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.userLinks .playlistLink,
.userLinks .likeLink {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    cursor: pointer;
}

.userLinks svg {
    transition: fill 0.4s;
    width: 1.2rem;
    overflow: visible;
}

.buttonText {
    margin-left: 2rem;
    transition: color 0.4s;
    font-weight: var(--font-weight-bold);
}

.playlistLink div,
.likeLink div {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlistLink div {
    background-color: var(--color-text-base);
    transition: background-color 0.4s;
}

.playlistLink svg {
    fill: var(--color-base);
}

.likeLink div {
    background: linear-gradient(135deg, #450af5, #c4efd9);
    opacity: 0.7;
    transition: opacity 0.4s;
}

.likeLink svg {
    fill: var(--color-text-base);
}

.playlistLink:hover div {
    background-color: var(--color-white);
}

.playlistLink:active,
.likeLink:active {
    transform: scale(0.98);
}

.playlistLink:hover .buttonText,
.playlistLink.active .buttonText,
.likeLink:hover .buttonText,
.likeLink.active .buttonText {
    color: var(--color-white);
}

.likeLink:hover div {
    opacity: 1;
}

.likeLink:hover svg {
    fill: var(--color-white);
}

.btnContainer {
    position: relative;
    display: flex;
}
