.sidebar {
    grid-area: sidebar;
    background-color: var(--color-black);
    color: var(--color-text-base);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
