.banner {
    padding: 15rem 3rem 6rem 3rem;
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
    position: relative;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}

.background::after {
    display: block;
    content: '';
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.background img {
    width: 100%;
    object-fit: cover;
}

.details {
    display: flex;
    flex-direction: column;
    position: relative;
}

.certified {
    display: flex;
    align-items: center;
}

.certified svg {
    fill: var(--color-infos);
    margin-right: 1rem;
}

.name {
    padding-top: 1rem;
}

.listeners {
    padding-top: 3rem;
}