.track {
    display: flex;
    align-items: center;
}

.track a {
    display: flex;
}

.track img {
    width: var(--audio-player-track-cover-size);
    height: var(--audio-player-track-cover-size);
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2rem;
}

.title {
    font-size: var(--font-weight-bold);
    color: var(--color-white);
}

.artist {
    font-size: var(--font-size-small);
    padding-top: 0.5rem;
}

.title:hover, .artist:hover {
    text-decoration: underline;
}

.artist:hover {
    color: var(--color-white);
}

.like {
    display: flex;
    margin-left: 3rem;
}

.like.active svg {
    fill: var(--color-green);
}