.player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.audioControls {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.audioControls button:nth-child(n + 2) {
    margin-left: 2.5rem;
}

.random {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.random, .repeat {
    display: flex;
    justify-content: center;
    position: relative;
}

.random.active svg,
.repeat.active svg {
    fill: var(--color-green);
}

.random.active:hover svg,
.repeat.active:hover svg {
    fill: var(--color-green-hover);
}

.random.active::after ,
.repeat.active::after {
    display: flex;
    content: '';
    width: 0.4rem;
    height: 0.4rem;
    background-color: var(--color-green);
    border-radius: var(--border-radius-round);
    position: absolute;
    bottom: -0.8rem;
}

.play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--audio-player-play-button-size);
    height: var(--audio-player-play-button-size);
    background-color: var(--color-white);
    border-radius: var(--border-radius-round);
}

.play:active {
    transform: scale(0.95);
}

.play svg {
    fill: var(--color-black) !important;
}

.play svg:hover {
    fill: initial;
}

.next, .previous {
    display: flex;
}

.next:active svg,
.previous:active svg {
    fill: var(--color-text-base);    
}

.audioState {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.audioState time {
    font-size: var(--font-size-small);
}

.audioState time:first-child {
    text-align: end;
}

.audioProgressBar {
    --currentPercentage: 0%;
    --color-progress-bar: var(--color-white);

    width: 500px;
    height: 4px;
    margin: 0;
    appearance: none;
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    margin: 0 0.5rem;
    position: relative;
    display: flex;
    align-items: center;
}

.audioProgressBar::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    height: 100%;
    background-color: var(--color-progress-bar);
    border-radius: 5px;
    width: var(--currentPercentage);
}

.audioProgressBar:hover {
    --color-progress-bar: var(--color-green);
}

.audioProgressBar::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: var(--border-radius-round);
    background: var(--color-white);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
    opacity: 0;
    visibility: hidden;
    position: relative;
}

.audioProgressBar:hover::-webkit-slider-thumb,
.audioProgressBar:active::-webkit-slider-thumb {
    opacity: 1;
    visibility: visible;
}