.actions {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sound {
    display: flex;
}

.fullscreen {
    display: flex;
}

.audioProgressBar {
    --currentPercentage: 65%;
    --color-progress-bar: var(--color-white);

    width: 100px;
    height: 4px;
    margin: 0;
    appearance: none;
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    margin: 0 1rem;
    position: relative;
}

.audioProgressBar::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    height: 100%;
    background-color: var(--color-progress-bar);
    border-radius: 5px;
    width: var(--currentPercentage);
}

.sound:hover + .audioProgressBar,
.audioProgressBar:hover {
    --color-progress-bar: var(--color-green);
}

.audioProgressBar::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: var(--border-radius-round);
    background: var(--color-white);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
    opacity: 0;
    visibility: hidden;
    position: relative;
}

.sound:hover + .audioProgressBar::-webkit-slider-thumb,
.audioProgressBar:hover::-webkit-slider-thumb,
.audioProgressBar:active::-webkit-slider-thumb {
    opacity: 1;
    visibility: visible;
}