.audioPlayer {
    grid-area: footer;
    background-color: var(--color-card-home);
    border-top: 1px solid var(--color-card-home-hover);
    transition: padding 1s;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: space-between;
}

.audioPlayer svg {
    fill: var(--color-text-base);
    width: var(--audio-player-icon-size);
    height: var(--audio-player-icon-size);
}

.audioPlayer svg:hover {
    fill: var(--color-white);
}
