.banner {
    padding: 6rem 3rem;
    display: flex;
    align-items: flex-end;
    color: var(--color-white);
}

.cover {
    width: 25rem;
    box-shadow: 0 0.4rem 6rem 0 rgba(0, 0, 0, 0.5);
}

.cover::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.details {
    display: flex;
    flex-direction: column;
    padding-left: var(--card-spacing);
}

.details h1 {
    font-size: 5vw;
    margin-top: 1rem;
}

.type {
    font-size: var(--font-size-small);
    text-transform: uppercase;
}

.type,
.artistLink {
    font-weight: var(--font-weight-black);
}

.description {
    color: var(--color-text-base);
    font-size: var(--font-size-medium);
    margin-top: 4rem;
}

.artist {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.artistPhoto {
    width: 2.4rem;
    height: 2.4rem;
    object-fit: cover;
    border-radius: var(--border-radius-round);
    margin-right: 1rem;
}

.artistLink {
    display: flex;
    align-items: center;
}

.artistLink:hover {
    text-decoration: underline;
}

.releaseDate::before,
.tracksTotal::before {
    content: '•';
    display: block;
    margin: 0 0.5rem;
    font-size: 0.9rem;
}

.releaseDate, .tracksTotal {
    font-weight: var(--font-weight-medium);
    display: flex;
    align-items: center;
}

.lengthTotal {
    margin-left: 0.5rem;
    color: var(--color-text-base);
}
