.base {
    height: 100vh;
    background-color: var(--color-base);
    display: grid;
    grid-template-areas: 
        "sidebar content"
        "footer footer";
    grid-template-columns: 15vw 1fr;
    grid-template-rows: 1fr auto;
}

.main {
    grid-area: content;
    overflow: auto;
}
